/* load fonts */
@font-face {
    font-family: Basteleur-Bold;
    src: url('https://orchidesyl.neocities.org/assets/fonts/Basteleur-Bold.woff');
}
@font-face {
    font-family: YoungSerif;
    src: url("https://orchidesyl.neocities.org/assets/fonts/YoungSerif-Regular.woff");
}
@font-face {
    font-family: Lack;
    src: url("https://orchidesyl.neocities.org/assets/fonts/Lack-Regular.woff");
}

/*Universal*/
body {
  background-color: #e7eadf;
}
a {
  text-decoration: none;
  color: #3a4ae3;
}
ul {
  list-style-type: square;
}
.button {
  border: solid;
  margin: 14px;
  padding: 7px;  
  font-family: Lack;
  color: #3a4ae3;
  background-color: #e7eadf;
  transition-duration: 0.025s;
  box-shadow: 3px 3px;
}
.button:hover {
  color: #e19c01;
}
/*type design*/
h1 {
  font-family: Basteleur-Bold;
   /*color: #e7eadf;*/
  font-size :48px;
}
h2 {
  font-size: 28px;
}
h3 {
    font-size: 21px;
}
h2, h3, h4 {
    font-family: YoungSerif;
}
p{
    font-size: 14px;
    font-family: Lack;
    text-indent: 48px;
}
li {
    font-size: 14px;
    font-family: Lack;
    text-indent: 64px;
    list-style-position: inside;
}

/*misc*/
  /*remove scroolbars*/
    .nav-bar::-webkit-scrollbar {
      display: none;
    }
    .nav-bar{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    .main-page::-webkit-scrollbar {
      display: none;
    }
    .main-page{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  /*sticky*/
  .sticky{
    background-color: #e7eadf;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
.icon-grid {
      /*hides scrollbars*/
      display: grid;
      grid-gap:14px;
      grid-template-columns: auto auto auto;
  }
.line-divider {
  width: 100%;
  height: 3px;
  background-color: #000000;
}
.column-divider{
  height: 100%;
  width: 1px;
  background-color: #000000;
}
  
/*-----DESKTOP-----*/
@media screen and (min-width: 720px) {
    .grid-container {
      display: grid;
      align-content: center;
      grid-gap:33px;
      grid-template-rows: 14px auto;
  }
    .grid-item {
      position: relative;
      padding: 7px;
  }
  .nav-bar{
    margin: auto;
    align-content: center;
    width: 66%;
  }

}
/*-----MOBILE--------*/
@media screen and (max-width: 720px) {
    .grid-container {
      display: grid;
      align-content: center;
      grid-gap:33px;
      grid-template-columns: 413px 1px auto;
  }
    .grid-item {
      position: relative;
      padding: 7px;
  }
    .nav-bar, .main-page {
      margin: 14px;
      /*Keeps portion of page inline*/
      max-height: 93vh;
      position: relative;
      overflow: auto;
  }
}